:root {
  --main-color: #2196F3;
}

body {
  background-color: #e5e5e5;
  /* font-family: 'Raleway', sans-serif; */
  font-family: 'Roboto', sans-serif;
}

/* pseudoklasa przy najechaniu myszką */
nav a:hover {
    color: var(--main-color);
    text-decoration: none;
  }

  /* buttons */
  .click {
    cursor: pointer;
  }