:root {
    --blue: #2196f3;
    --black: #212121;
    --grey: #757575;
    --background-grey: #2f303a;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--black);
}

/* HEADER */
header a {
  color: var(--black);
  text-decoration: none;
}

nav a.contact {
  color: var(--grey);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

nav a.active {
    color: var(--blue);
}

.company-name {
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
}

.logo {
    color: var(--blue);
}

nav a:hover {
  color: var(--blue);
}

/* EFEKTYWNE ROZWIĄZANIA... */
.solutions {
    color: white;
    background-color: var(--background-grey);
    font-weight: 900;
    text-transform: uppercase;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
}

/* BUTTONS */
.button {
  background-color: #F5F4FA;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  border: none;
}

.actual {
  color: white;
  background-color: var(--blue)
}

.index {
  color: white;
background-color: var(--blue);
  font-weight: 700;
  line-height: 30px;
}

/* SEKCJA TEKSTOWA LOREM */
.lorems {
    color: var(--grey);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.lorem-title {
    color: var(--black);
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}

/* CZYM SIĘ ZAJMUJEMY, NASZ ZESPÓŁ */
.section-title {
    color: var(--black);
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
}

.name {
    color: var(--black);
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.profession {
    color: var(--grey);
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

/* MAIN STRONY PORTFOLIO */
.title {
    color: var(--black);
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
}

.type {
    color: var(--grey);
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

/* STOPKA */
footer {
    color: white;
    background-color: var(--background-grey);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

address {
    font-style: normal;
}

.footer-contact {
    color: #ffffff99;
    text-decoration: none;
}